<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD Operations Using MongoDB, Express, Node, and Nunjucks</title>
  {% include 'blocks/css/display-font.njk' %}
  {% include 'blocks/css/reading-font.njk' %}
  {% include 'blocks/css/font-awesome-css.njk' %}
  {% include 'blocks/css/main-css.njk' %}
</head>
<body>
  <header>
    <h1><abbr title="Create, Read, Update, Delete">CRUD</abbr> Operations Using <abbr title="Humongous Database">MongoDB</abbr>, Express, Node, and Nunjucks</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">🏠</a></li>
      <li><a href="create-a-db-record/">Create</a></li>
      <li><a href="read-a-db-record/">Read</a></li>
      <li><a href="update-a-db-record/">Update</a></li>
      <li><a href="delete-a-db-record/">Delete</a></li>
    </ul>
  </nav>
</body>
</html>
